{%- macro svg(image, width, height, class, title, desc) -%}
  {%- if image|default(false) and width|default(false) and height|default(false) -%}
    <svg width="{{ width }}" height="{{ height }}" {% if class|default(false) %}class="{{ class }}"{% endif %}>
      {%- if title is defined and title is not empty -%}
        <title>{{ title }}</title>
      {%- endif -%}
      {%- if desc is defined and desc is not empty -%}
        <desc>{{ desc }}</desc>
      {%- endif -%}
      <use xlink:href="{{ asset('dist.svg') }}#{{ image }}"></use>
    </svg>
  {%- endif -%}
{%- endmacro -%}

{%- macro imageResize(image, width, height) -%}
  {% if image is defined and width is defined %}
    {% set allowedTypes = ['jpeg', 'png', 'gif'] %}
    {% set type = image.contentType|split('/')|last %}
    {% if type in allowedTypes %}
      {{- asset(image.url|imagine_filter('resize_' ~ type, { scale: { dim: [width|default(10000), height|default(10000)]} }))|trim() -}}
    {% endif %}
  {% endif %}
{%- endmacro -%}

{%- macro imageCrop(image, width, height) -%}
  {% if image is defined and width is defined %}
    {% set allowedTypes = ['jpeg', 'png', 'gif'] %}
    {% set type = image.contentType|split('/')|last %}
    {% if type in allowedTypes %}
      {{- asset(image.url|imagine_filter('crop_' ~ type, { thumbnail: { size: [width|default(1000), height|default(1000)]} }))|trim() -}}
    {% endif %}
  {% endif %}
{%- endmacro -%}

