{% use 'form_div_layout.html.twig' %}

{# Widget attributes #}
{% block widget_container_attributes %}
{% spaceless %}
  {% if id is not empty %}id="{{ id }}" {% endif %}
  {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}

{%- block form_widget_compound -%}
  {%- if form is rootform -%}
    {{ form_errors(form) }}
  {%- endif -%}
  {{- block('form_rows') -}}
  {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}


{# Form row #}
{% block form_row %}
{% import "@macros/macros.html.twig" as macros %}
{% spaceless %}
  <div class="c-form__row{% if errors|length > 0 %} has-error{% endif %}{% if attr.rowClass|default(false) %} {{ attr.rowClass }}{% endif %}">
    <div class="c-form__wrap-label">
      {{ form_label(form) }}
    </div>
    <div class="c-form__wrap-input">
      {{ form_widget(form) }}
    </div>
    <div class="c-form__wrap-error">
      {{ form_errors(form) }}
    </div>
  </div>
{% endspaceless %}
{% endblock form_row %}


{# Form label #}
{% block form_label %}
{% spaceless %}
  {% if label is not same as(false) %}
    {% if not compound %}
      {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ '')|trim}) %}
    {% if label is empty %}
      {% set label = name|humanize %}
    {% endif %}
      <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}{% if not required %} <small>{{ 'form.label.optional'|trans }}</small>{% endif %}
      </label>
  {% endif %}
{% endspaceless %}
{% endblock form_label %}


{# Form widget: Hidden #}
{% block hidden_widget %}
{% spaceless %}
  <div {{ block('widget_container_attributes') }} class="u-visually-hidden">
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
  </div>
{% endspaceless %}
{% endblock hidden_widget %}


{# Form widget: Input #}
{% block form_widget_simple %}
{% spaceless %}
  {% set type = type|default('text') %}
  {% set class = (attr.class|default('') ~ ' c-input-text') %}
  {% set attr = attr|merge({'class': class|trim}) %}
  <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endspaceless %}
{% endblock form_widget_simple %}


{# Form widget: Textarea #}
{% block textarea_widget %}
{% spaceless %}
  {% set class = (attr.class|default('') ~ ' c-input-text  c-input-text--textarea') %}
  {% set attr = attr|merge({'class': class|trim}) %}
  <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{# Form widget: Selectbox #}
{% block choice_widget_collapsed %}
{% spaceless %}
  {% import "@macros/macros.html.twig" as macros %}
  <div class="c-select{% if multiple %}  c-select--multiple{% endif %}">
    {% set class = (attr.class|default('') ~ ' c-select__input') %}
    {% set attr = attr|merge({'class': class|trim}) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
      {% if placeholder is not none %}
        <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
      {% endif %}
      {% if preferred_choices|length > 0 %}
        {% set options = preferred_choices %}
        {{ block('choice_widget_options') }}
        {% if choices|length > 0 and separator is not none %}
          <option disabled="disabled">{{ separator }}</option>
        {% endif %}
      {% endif %}
      {% set options = choices %}
      {{ block('choice_widget_options') }}
    </select>
    {{ macros.svg('dropdown', 15, 15, 'c-select__icon') }}
  </div>
{% endspaceless %}
{% endblock choice_widget_collapsed %}


{# Form widget: Choice expanded - Radiobutton / Checkbox #}
{% block choice_widget_expanded %}
{% spaceless %}
  <div class="c-choice" {{ block('widget_container_attributes') }} data-label="{{ label|trans({}, translation_domain)|raw }}">
    <div class="c-choice__wrap-list">
      <ul class="c-choice__list  o-list-clean  o-list-stacked">
        {% for child in form %}
          <li>
            {{ form_widget(child) }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{# Form widget: Radiobutton #}
{% block radio_widget %}
{% spaceless %}
  {% import "@macros/macros.html.twig" as macros %}
  {% if required and not compound %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' is-required')|trim}) %}
  {% endif %}
  {% if label is empty %}
    {% set label = name|humanize %}
  {% endif %}
  {% set class = (attr.class|default('') ~ ' c-control__input  u-visually-hidden') %}
  {% set attr = attr|merge({'class': class|trim}) %}
  <label class="c-control  c-control--radio" for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} data-label="{{ label|trans({}, translation_domain)|raw }}">
    <span class="c-control__indicator" role="presentation"></span>
    <span class="c-control__label">
      {{ label|trans({}, translation_domain)|raw }}
    </span>
  </label>
{% endspaceless %}
{% endblock radio_widget %}


{# Form widget: Checkbox #}
{% block checkbox_widget %}
{% spaceless %}
  {% import "@macros/macros.html.twig" as macros %}
  {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' is-required')|trim}) %}
  {% endif %}
  {% if label is empty %}
    {% set label = name|humanize %}
  {% endif %}
  {% set class = (attr.class|default('') ~ ' c-control__input  u-visually-hidden') %}
  {% set attr = attr|merge({'class': class|trim}) %}
  <label class="c-control  c-control--checkbox" for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} data-label="{{ label|trans({}, translation_domain)|raw }}">
    <span class="c-control__indicator" role="presentation">{{ macros.svg('icon-check', 14, 10, 'c-control__icon') }}</span>
    <span class="c-control__label">
      {{ label|trans({}, translation_domain)|raw }}
    </span>
  </label>
{% endspaceless %}
{% endblock checkbox_widget %}


{# Form widget: File upload #}
{# {% block file_widget %}
{% spaceless %}
  <div {{ block('widget_container_attributes') }}>
    <label class="c-input-file" data-module="ui/input-file">
      <div class="c-input-file__layout  o-layout  o-layout--gutter-small  o-layout--align-middle">
        <div class="o-layout__cell   o-layout__cell--fit">
          {{ block('form_widget') }}
          <span class="c-input-file__button  c-button">{{ 'form.fileInput.button'|trans({}, 'messages') }}</span>
        </div>
        <div class="o-layout__cell  o-layout__cell--fill">
          <div class="c-input-file__feedback" data-module-bind="input-file__feedback" data-message="{{ 'form.fileInput.label'|trans({}, 'messages') }}">{{ 'form.fileInput.label'|trans({}, 'messages') }}</div>
        </div>
      </div>
    </label>
  </div>
{% endspaceless %}
{% endblock %} #}


{# Form errors #}
{% block form_errors %}
{% spaceless %}
  {% if errors|length > 0 %}
    <div class="c-form__row">
      {% for error in errors %}
        <span class="c-form__help">{{ error.message }}</span>
      {% endfor %}
    </div>
  {% endif %}
{% endspaceless %}
{% endblock form_errors %}


{# Button row #}
{% block button_row %}
{% spaceless %}
  <div class="c-form__row">
    {{ form_widget(form) }}
  </div>
{% endspaceless %}
{% endblock button_row %}


{# Submit button #}
{% block submit_widget %}
{% spaceless %}
  <div class="c-form__row  c-form__row--submit">
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
  </div>
{% endspaceless %}
{% endblock submit_widget %}

{# Date time widget #}
{# {%- block datetime_widget -%}
  {% if widget == 'single_text' %}
    {{- block('form_widget_simple') -}}
  {%- else -%}
    <div class="c-form__alongside" {{ block('widget_container_attributes') }}>
      {{- form_errors(form.date) -}}
      {{- form_errors(form.time) -}}
      {{- form_widget(form.date) -}}
      {{- form_widget(form.time) -}}
    </div>
  {%- endif -%}
{%- endblock datetime_widget -%}

{%- block date_widget -%}
  {%- if widget == 'single_text' -%}
    {{ block('form_widget_simple') }}
  {%- else -%}
    <div class="c-form__alongside" {{ block('widget_container_attributes') }}>
      {{- date_pattern|replace({
        '{{ year }}':  form_widget(form.year),
        '{{ month }}': form_widget(form.month),
        '{{ day }}':   form_widget(form.day),
      })|raw -}}
    </div>
  {%- endif -%}
{%- endblock date_widget -%} #}
