{% if button|default(false) and button.label|default(false) %}
  {% import "@macros/macros.html.twig" as macros %}
  {% set tag = button.tag|default('button') %}
  {% set modifier = button.modifier|default(false) %}
  {% set href = button.href|default(false) %}
  {% set label = button.label|default(false) %}
  {% set icon = button.icon|default(false) %}
  {% set type = (tag == 'button') ? button.type|default('button') : false  %}
  {% set attributes = button.attributes|default(false) %}

  <{{tag}}
    class="c-button{{ modifier ? ' ' ~ modifier }}"
    {% if type %}type="{{ type }}"{% endif %}
    {{ (tag == 'a' and href) ? (' href="' ~ href ~ '"')|raw }}
    {%if attributes %}{% for attr, val in attributes %}{{(' ' ~ attr ~ '="' ~ val|escape('html_attr') ~ '"')|raw}}{% endfor %}{% endif %}
  >
    <span class="c-button__inner">
      <span class="c-button__label">
        {{ label }}
      </span>
      {% if icon %}
        <span class="c-button__wrap-icon">
          {{ macros.svg(icon, 16, 16) }}
        </span>
      {% endif %}
    </span>
  </{{tag}}>
{% endif %}
